/* 4. external */

body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}

/* p {
  color: blueviolet;
} */

/* classes - usasse sempre . para chamar  é para elemento que se repete*/
.paragraph {
  background-color: black;
  color: aqua;
  padding: 5px;
}

/* ids - usasse sempre . para chamar. é para elemento unico */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}
/* ordem das regras - Id(#) / class(.) e tag */
h2 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* nome de cores */
.color-name {
  color: crimson;
}

/* hex */
.hex {
  color: #55a398;
}

.hex2 {
  color: #2dcc0d;
}

/* aprofundando em hex */
.simple-hex {
  color: #333;
}
.simple-hex-2 {
  color: #a5f;
}

/* rgb - (0, 0, 0) -  primeiro vermelho, segundo verde, terceiro azul*/
.rgb {
  color: rgb(255, 0, 0);
}

.mixed-rgb {
  color: rgb(199, 21, 47);
}

.rgba {
  color: rgba(100, 199, 45, 0.3);
}

/* hsl */
.hsl {
  color: hsl(100, 20%, 50%);
}

.hsl-2 {
  color: hsl(201, 82%, 48%);
}

/*  background */
.bg {
  background-color: #000;
  color: yellow;
}

.bg-2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* background opacity */

.bg-opacity {
  background-color: green;
  opacity: 0.2;
}

.bg-opacity-2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/* rgba com opacidade */
.rgba-opacity {
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
}

.bg-image {
  background-image: url("./img/nature.jpg");
  padding: 10px;
  color: #fff;
}

.not-centered-bg,
.centered-bg {
  height: 400px;
  width: 400px;
  background-image: url(./img/bridge.jpg);
}

.centered-bg {
  background-position: center;
  background-size: cover;
}

/* height e width */

.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}

.height-width-2 {
  height: 300px;
  background-color: #333;
}
/* a altura tem que ser definida, pois por padrão vem com 0, porém a largura se não definimos vem preenchendo totalmente*/
/* padding */
.without-padding {
  background-color: #111;
  color: #fff;
}

.padding {
  background-color: #333;
  padding: 20px;
}

/* No without padding, não tem respiro. O texto está colado na margem, enquanto que no padding existe amais harmonia */

/* padding individual */

.padding-individual {
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}
